*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100%;
}

footer{
   padding: 50px 120px 0 100px;
   width: 100%;
   position: relative;
}
nav {
   display: flex;
   gap: 300px ;
}
.logo{
   border: 1px solid black;
   width: 400px;
   height: 100px;
   text-align: center;
   line-height: 100px;
   font-weight: bold;
   
}   

 a{
   text-decoration: none;
   color: black;
}
 
nav ul {
   display: flex;
   list-style: none;
   gap: 50px;
}
nav ul li{
   border: 1px solid black ;
   width: 300px;
   height: 100px;
   text-align: center;
   line-height: 100px;
   background: #A6b8e5;
}
